{% extends 'base.html.twig' %}

{% block title %}Hello EditProductController!{% endblock %}

{% block body %}

<h1>edit Product</h1>
{{ form(form) }}
<a class="btn btn-secondary" href="{{ path('app_product') }}">Retour à la liste</a>




{% endblock %}
