{% extends 'base.html.twig' %}
{% block title %}Hello HomeController de contact{% endblock %}

{% block body %}


<div class="container mt-5">
<h1>Ceci est un exemple de contact</h1>
    <h2>Bonjour {{ wellcome }}!</h2>
    <h2>{{ nom }} <i class="bi bi-emoji-smile-fill"></i></h2>
    <h3> {{ tel }} <i class="bi bi-telephone"></i></h3>
</div>
{% endblock %}