{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<div class="example-wrapper">
 <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" style="display:inline" onsubmit="return confirm('Confirmer la suppression ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
</div>
{% endblock %}